.card {
    background-color: #5f4c4c;
    margin: 10px;
    border-radius: 20px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}   

.card .card-img {
    height: 60%;
    display: grid;
    place-content: center;
}

.card .card-title {
    background-color: #826b6b;
    width: 100%;
    color: white;
    height: 40%;
    padding: 10px;
}
.card .card-title p {
    margin-bottom: 5px;
}
.card .card-title h6 {
    margin-bottom: 10px;
}
.card .card-title a {
    background-color: lightblue;
    padding: 5px;
    font-weight: 700;
    border-radius: 20px;
}